# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env


# Poetry caches
.venv*/
.poetry/

# Build / dist
dist/
build/
*.egg-info/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
.coverage.*
htmlcov/

# Uvicorn
*.pid

# ChromaDB data
data/chroma/
*.sqlite3